<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .logo-oficial {
            text-align: center; /* Centra el contenido horizontalmente */
            padding: 20px; /* Agrega un espacio alrededor de la imagen para mejorar la apariencia */
        }
        
        .logo-oficial img {
            display: inline-block; /* Permite alinear verticalmente la imagen dentro del div */
        }
    </style>
</head>

<body>
    <header>
        <div className="logo-oficial">
            <p className="logo-oficial">
            <img src="/images/logo-ofc.png" alt="logo"/>
            </p>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p> Diseneado por Dubedout Lautaro - 2023</p>
    </footer>

</body>

</html> 