body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

header {
  background-color: #EA7913;
  padding: 16px;
}

header img{
  width: 200px;
  height: 200px;
}

header p {
  display: flex;
  justify-content: center;
  align-items: center; 

}


h2 {
  color: rgb(245, 172, 112);
  text-align: center;
  justify-content: center;
  font-family: italic;
  font-weight: bold;
  font-size: 40px;
  
}


footer {   
  background-color: rgb(77, 77, 77);
  clear: both;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}

nav {
  background-color: rgb(255, 200, 156);
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0%;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
  /*le da distancia automatica y movilidad entre las secciones*/
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: rgba(255, 97, 97, 0.3);
}


.holder {
  max-width: 1300px;
  margin: 0 auto;
}

h3{
 margin-left: 10px;
}

.persona-saludo p{
  font-family: Cambria;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 15px;
  
}

.saludo{
  margin-bottom: -45px;
}

.btn{
  margin-right: 5px;
}



/* 
#5fbdd6 AZUL
#1f9ec7 AZUL CLARITO
#ea7913 NARANJA CLARITO
#ba7323 NARANJA OSCURO
#215b6f AZUL OSCURO */


