body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 1300px;
  margin: 0 auto;
}

h1{
  color: #215B6F;
  text-align: center;
  font-weight: bold;
  font-family: revert;
  font-size: 40px;
}

h2 {
  color: #EA7913;
  text-align: center;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 40px;
  
}

p{
  color: #215B6F;
  font-weight: bold;
}