body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 1300px;
  margin: 0 auto;
}


h2 {
  color: rgb(245, 172, 112);
  text-align: center;
  justify-content: center;
  font-family: italic;
  font-weight: bold;
  font-size: 40px;
  
}
