header {
    background-color: #EA7913;
    padding: 16px;
}

header img{
    width: 200px;
    height: 200px;
}

.logo-principal{
    display: flex;
    justify-content: center;
    align-items: center; 
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 55px;
    margin-left: 15px;
}