header {
    background-color: #EA7913;
    padding: 16px;
}

header img{
    width: 200px;
    height: 200px;
}

.logo-principal{
    display: flex;
    justify-content: center;
    align-items: center; 
}
